@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    180deg,
    #020617 0%,
    #0f172a 35%,
    #111827 70%,
    #000000 100%
  );
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  transition: all 0.3s ease;
}